html, body, #map {
    height: 100%;
    margin: 0px;
}

.leaflet-div-icon {
    background: rgba(143, 197, 81, 0.4);
	border-radius: 30px;
    min-width: 30px;
    min-height: 30px;
}

.leaflet-div-icon .inner {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0px;
    margin-top: 0px;
	background-color: #8fc551;
	border-radius: 20px;
}
.marker-cluster div span {
	visibility: hidden;
}
